@font-face {
  font-family: "Circular";
  font-style: normal;
  font-weight: 400;
  src:
    local("☺︎"),
    url("/assets/fonts/CircularStd-Book.woff2") format("woff2"),
    url("/assets/fonts/CircularStd-Book.woff") format("woff");
  font-display: swap; // auto, block, swap, fallback, optional
}

@font-face {
  font-family: "Circular";
  font-style: normal;
  font-weight: 600;
  src:
    local("☺︎"),
    url("/assets/fonts/CircularStd-Medium.woff2") format("woff2"),
    url("/assets/fonts/CircularStd-Medium.woff") format("woff");
  font-display: swap;
}

// This weight is currently not used.. but available if we need to.
@font-face {
  font-family: "Circular";
  font-style: normal;
  font-weight: 700;
  src:
    local("☺︎"),
    url("/assets/fonts/CircularStd-Bold.woff2") format("woff2"),
    url("/assets/fonts/CircularStd-Bold.woff") format("woff");
  font-display: swap;
}

// @font-face {
//   font-family: "ProximaNova";
//   font-style: normal;
//   font-weight: 400;
//   src:
//     local("☺︎"),
//     url("/assets/fonts/ProximaNova-Regular.woff2") format("woff2"),
//     url("/assets/fonts/ProximaNova-Regular.woff") format("woff");
//   font-display: swap;
// }

// @font-face {
//   font-family: "ProximaNova-Bold";
//   font-style: normal;
//   font-weight: 700;
//   src:
//     local("☺︎"),
//     url("/assets/fonts/ProximaNova-Bold.woff2") format("woff2"),
//     url("/assets/fonts/ProximaNova-Bold.woff") format("woff");
//   font-display: swap;
// }
